.img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .wrap {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .just-right {
    text-align: end;
  }
  
  .m-2 {
    margin: 2rem auto;
  }
  .m-4 {
    margin: 4rem auto;
  }
  
  .price {
    font-size: 34px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  
.card-link
{
  text-decoration: none;
}