<div class="m-2">
  <a class="card-link" [routerLink] = "['/user/hotel', hotel.hotelId]">
    <p-card>
      <div class="grid">
        <div class="col-2">
          <img class="img" src="{{ hotel.img }}" alt="Need IMG!" />
          <span class="wrap">
            {{ hotel.street }}, {{ hotel.city }}, {{ hotel.state }}
            {{ hotel.zip }}
          </span>
        </div>
        <div class="col">
          <div>
            <h1>
              {{ hotel.name }}
            </h1>
            <h3>{{ hotel.city }}, {{ hotel.state }}</h3>
            <div>
              <p class="m-2">{{ hotel.description }}</p>
            </div>
            <div class="grid">
              <div class="col">
                @if (hotelRating) {
                <p>Average Rating:</p>
                <p-rating
                  [(ngModel)]="hotelRating"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
                }
              </div>
              <div class="col">
                <p class="just-right">Rooms as low as:</p>
                <p class="just-right price">{{ hotelPrice | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </a>
</div>
