@if(!checkedOut){
<p-panel header="Book Room: Payment">
  <div>
    <p><b>Credit Card Number:  </b></p>
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-credit-card" />
      <p-inputMask mask=9999-9999-9999-9999 [(ngModel)]="creditCardNumber" placeholder="1111-2222-3333-4444"></p-inputMask>
    </p-iconField>
    <br>
    <p><b>Full Name:  </b></p>
    <input type="text" pInputText [(ngModel)]="fullName" />
    <br>
    <p><b>Expires:  </b></p>
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-calendar-times" />
      <p-inputMask mask="99/99" [(ngModel)]="expires" placeholder="MM/YY"></p-inputMask>
    </p-iconField>
    <br>
    <p><b>CVC:  </b></p>
    <p-iconField iconPosition="right">
      <p-inputIcon styleClass="pi pi-key" />
      <p-inputMask mask="999" [(ngModel)]="cvc" placeholder="123"></p-inputMask>
    </p-iconField>
  </div>
  <br><br>
  <p-button label="Book Now" styleClass="p-button-secondary" (click)="createBooking()"></p-button>
</p-panel>
}
@else {
<p-table [value]="invoice" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        Invoice
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Hotel</th>
          <th>Room</th>
          <th># of Rooms</th>
          <th>Duration</th>
          <th>Total</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-invoice>
      <tr>
          <td>{{ hotel.name }}</td>
          <td>{{ room.roomName }}</td>
          <td>{{ booking.numRooms }}</td>
          <td>{{ days }}</td>
          <td>{{ price | currency }}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        Congradulations {{fullName}}! You have booked {{ booking.numRooms }} room for {{ days }} nights.
    </div>
    <br><br>
    <p-button label="Finish" styleClass="p-button-secondary" (click)="returnHome()"></p-button>
</ng-template>
</p-table>
}