<div id="form-container">
  <h1>Edit {{ room.roomName }}</h1>
  <button class="primary-btn" (click)="goBack()">Back to Rooms</button>
  @switch (activeIndex) { @case(0){
  <form
    class="add-room-form centered"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
  >
    <div class="form-group">
      <label for="name">Room Name</label>
      <input
        type="text"
        formControlName="name"
        placeholder="What will you call this Room?"
      />
      <br />
      @if(this.form.get('name')!.invalid && this.form.get('name')!.touched){
      <small class="danger-text">This field is required</small>
      }
    </div>
    <div class="form-group">
      <label for="description">Room Description</label>
      <textarea
        formControlName="description"
        placeholder="Describe the room"
      ></textarea>
      <br />
      @if(this.form.get('description')!.invalid &&
      this.form.get('description')!.touched){
      <small class="danger-text">This field is required</small>
      }
    </div>
    <div class="form-group">
      <label for="quantity">Number of this type of room in the hotel</label>
      <input type="number" formControlName="quantity" />
      <br />
      @if(this.form.get('quantity')!.invalid &&
      this.form.get('quantity')!.touched){
      <small class="danger-text">This field is required</small>
      }
    </div>
    <div class="form-group">
      <label for="price">Room Price</label>
      <input type="number" formControlName="price" step="0.01" />
      <br />
      @if(this.form.get('price')!.invalid && this.form.get('price')!.touched){
      @if(this.form.get('price')!.hasError('required')){
      <small class="danger-text">This field is required</small>
      } @if(this.form.get('price')!.hasError('min')){
      <small class="danger-text">Price must be a positive value</small>
      }}
    </div>
    <button type="submit" class="primary-btn">Next</button>
  </form>
  } @case (1){
  <div class="centered">
    <h1>Image Upload will go here</h1>
    <div class="form-group">
      <label>Image URL: </label>
      <input type="text" [(ngModel)]="img" [defaultValue]="img" />
    </div>
    <div class="btn-group">
      <button class="primary-btn" (click)="prev()">Previous</button>
      <button class="primary-btn" (click)="next()">Next</button>
    </div>
  </div>
  } @case (2){
  <div>
    <h2>Confirm the details before Submitting:</h2>
    <div id="room-details">
      <section>
        <h3>{{ form.value.name }}</h3>
        <p>{{ form.value.description }}</p>
        <h4>Daily Rate: {{ form.value.price }}</h4>
        <h4>
          Number of rooms of this type in hotel: {{ form.value.quantity }}
        </h4>
      </section>
      <img src="{{ img }}" />
    </div>
    <div class="btn-group centered-horizontal">
      <button class="primary-btn" (click)="prev()">Previous</button>
      <button class="primary-btn" (click)="editRoom()">Update Room</button>
    </div>
  </div>
  }}
  <p-steps
    id="stepper"
    [model]="steps"
    [readonly]="true"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
  ></p-steps>
</div>
