/* Global css variables file we can change this later */

/* THIS IS AN EXAMPLE OF HOW TO USE THE FILE */

/* :root {
    --bg-color: white;
    --header-color: white;
    --border-color: rgb(230, 230, 230);
  }
   */