body {
  display: flex;
  justify-content: center;
}
h2 {
  padding-left: 10px;
}
#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(237, 197, 238);
}
#checkout-btn {
  justify-self: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  margin: 40px;
}
.checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 30px;
}

.btn {
  width: 100px;
  height: 30px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#order-items {
  width: 70%;
}
.item-info {
  width: 300px;
  white-space: wrap;
}
