#stepper {
  width: 50%;
}

.form-group {
  width: 400px;
  background-color: rgba(127, 134, 238, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.form-group > label {
  float: left;
}
.form-group > input,
textarea {
  float: right;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.btn-group {
  display: flex;
  column-gap: 30px;
}
#hotel-details {
  display: flex;
}
#hotel-details > img {
  width: 300px;
  float: right;
}
#hotel-details > section {
  width: 70%;
}
