<nav>
  <img id="logo" src="../../../assets/RevStay.jpg" />
  <div>
    <h2>Welcome, {{ name | titlecase }}</h2>
  </div>
  <div>
    <div class="nav-links">
      <!-- <button class="primary-btn nav-btn" routerLink="">Dashboard</button> -->
      <button class="primary-btn nav-btn" routerLink="/owner/hotel-management">
        Home
      </button>
      <!-- <button class="primary-btn nav-btn" routerLink="">Calendar</button> -->
      <button class="primary-btn nav-btn" routerLink="/owner/ownerBooking">
        All Reservations
      </button>
      <button class="primary-btn nav-btn" (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
