<div id="createBooking" style="margin: 30px">
  @if(this.checkingOut){
    <app-booking-payment [booking]="booking!" [room]="room!" [hotel]="hotel!"></app-booking-payment>
  }
  @else if(this.hotel){
    <p-card header="{{hotel.name}}" subheader="{{room?.roomName}}" [style]="{ width: '360px'}">
      <ng-template pTemplate="header">
          <img alt="Room Picture" [src]=room?.img />
      </ng-template>
      <p>
          @if(hotel){
            {{hotel.description}}
          }
          @else {Description not found}
      </p>
      <p><b>Guests:</b> <p-inputNumber [(ngModel)]="numGuests" [showButtons]="true" inputId="integeronly" [min]="1" [max]="10"> </p-inputNumber></p>
      <p><b>Rooms:</b> <p-inputNumber [(ngModel)]="numRooms" [showButtons]="true" inputId="integeronly" [min]="1" [max]="room?.quantity"> </p-inputNumber></p>
      <b>Book Dates:</b><p-calendar [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true" [minDate]="today"></p-calendar>
      <ng-template pTemplate="footer">
         <p-button label="Book Rooms" icon="pi pi-check" styleClass="p-button-secondary" (click)="checkOut()"></p-button>
      </ng-template>
  </p-card>
  }
  @else {
    <p>Booking cannot be displayed</p>
  }
  
</div>