.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.justify-c {
  justify-content: center;
}

.justify-c-b {
  justify-content: space-between;
}

.d-grid
{
  display: grid;
}

.align-i-c {
  align-items: center;
}

.rev-start-txt {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.mr-1 {
  margin-right: 0.5rem;
}

.col-12 {
  flex: 0 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.p-2 {
  padding: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lst-item {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--surface-border);
}

.rev-mid {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.rev-mid-txt {
  font-size: 2.5rem;
}

.rev-mid-star {
  text-align: center;
  margin-top: 2rem;
}

.dialog-form-container {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.name {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.5rem;
}
