#header {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
}

#rooms {
  margin: 15px;
  padding: 20px;
  display: flex;
}
.room {
  width: 30%;
}

#no-rooms {
  text-align: center;
  font-size: 30px;
}
