.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color: #fef7ee;
  background-image: url(../../../assets/RevStay.jpg);
  background-repeat: no-repeat;
}
#register-content {
  width: 30%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: rgba(146, 144, 144, 0.5);
}

.register-form {
  display: flex;
  flex-direction: column;
  transform: translateY(20%);
  align-items: center;
  row-gap: 20px;
}
input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}
#register-btn {
  width: 150px;
  height: 40px;
}

#login {
  transform: translateY(160%);
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(56, 122, 223, 0.4);
}
.login-title {
  margin: 5px;
}
#title-left {
  align-self: flex-start;
}

#title-right {
  align-self: flex-end;
}

.error-msg {
  text-align: center;
  color: red;
  font-size: 15px;
}
